.pp-main-block {
    display: flex;
    height: 100vh;
    overflow: auto;
}

.pp-header-logo .logo {
    width: 60px;
    height: 60px;
    background: #fff;
    margin: 20px;
    border-radius: 5px;
}

.tabs {
    margin-top: 60px;
    margin-left: 20px;
    width: 100%;
}

.tabs .tab-icon {
    height: auto;
    font-size: 36px;
    padding: 8px;
    width: calc(100% - 20px);
}

.tab-icon {
    color: #fff;
    cursor: pointer;
}

.tab-icon.active-tab {
    background: #fff;
    color: rgb(37, 126, 226);
}

.pp-main-block .pp-block-left-container {
    width: 100px;
    background: rgb(37, 126, 226);
}

.pp-main-block .pp-block-right-container {
    width: calc(100% - 100px);
}