<!--The content below is only a placeholder and can be replaced.-->
<div class="pp-app-block">
  <div class="pp-main-block">
    <div class="pp-block-left-container">
      <div class="pp-header-logo">
        <div class="logo"></div>
      </div>
      <div class="tabs">
        <mat-icon [ngClass]="{'active-tab': activeTab === 'home'}"
                  class="tab-icon" 
                  (click)="changeActiveTab('home')">
          mail
        </mat-icon>
        <mat-icon [ngClass]="{'active-tab': activeTab === 'create-quotation'}"
                  class="tab-icon"
                  (click)="changeActiveTab('create-quotation')">
          receipt
        </mat-icon>
        <mat-icon [ngClass]="{'active-tab': activeTab === 'edit'}"
                  class="tab-icon"
                  (click)="changeActiveTab('edit')">
          mail
        </mat-icon>
      </div>
    </div>
    <div class="pp-block-right-container">
      <product-quotation *ngIf="activeTab === 'create-quotation'"></product-quotation>
      <div *ngIf="activeTab === 'home'" class="home-tab-view">
        <h1>Home</h1>
      </div>
      <div *ngIf="activeTab === 'edit'">
        <h1>Edit</h1>
      </div>
    </div>
  </div>
</div>
